{block content}

	<div n:foreach="$panels as $panel" class="panel panel-headline">
		<div class="panel-heading">
			<h3 class="panel-title">{$panel[title]}</h3>
		</div>
		<div class="panel-body">
			{control $panel[control]}
		</div>
	</div>

{/block}
