{block content}
	{var $panel = WebChemistry\Administration\Latte\AdminBlocks::getPanel()}

	{foreach $components as $name => $title}
		{embed $panel}
			{block title}{$title}{/block}
			{block content}{control $name}{/block}
		{/embed}
	{/foreach}
{/block}
