{block content}
	{var $panel = WebChemistry\Administration\Latte\AdminBlocks::getPanel()}

	{embed $panel}
		{block title}Upravit {$name}{/block}
		{block content}{control $controlName}{/block}
	{/embed}
{/block}
